<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>06_列表渲染_过滤与排序</title>
  </head>
  <body>
    <!--
1. 列表过滤
2. 列表排序
-->
    <div id="root">
      <input type="text" v-model="searchName"/>
      <ul>
        <li v-for="person in filterPersons" :key = "person.id">
          {{person.id}}-{{person.name}}-{{person.age}}
        </li>
      </ul>
      <button>年龄升序</button>
      <button>年龄降序</button>
      <button>默认排序</button>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
      new Vue({
        el: "#root",
        data: {
          searchName: "",
          persons: [
            { id: 1, name: "jack", age: 22 },
            { id: 2, name: "rose", age: 18 },
            { id: 3, name: "tom", age: 30 },
            { id: 4, name: "jerry", age: 24 },
            { id: 5, name: "xiaohua", age: 27 },
            { id: 6, name: "xiaohong", age: 15 },
            { id: 7, name: "xiaoming", age: 26 },
          ],
        },
        computed: {
          filterPersons() {
            //1. 获取要参与计算的数据
            const {  persons,searchName} = this;
            //2. 开始计算- 过滤
            const filterPersons = persons.filter((person) => {
              //返回值true ,代表保留到新数组
              //false ,代表过滤
              //要判断person.name是否包含searchName
              return person.name.includes(searchName);
            });
            return filterPersons
          },
        },
      });
    </script>
  </body>
</html>
